<h4>CREATE EVENT</h4><hr>

<div class="eventformpage row">

  <div class="col">

  <form class="form-group" [formGroup]="entryCreateForm" (ngSubmit)="onSubmit(entryCreateForm)">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Event Title" formControlName="title">
    </div>
    <div class="form-group">
      <label class="col-4">Start Date</label>
      <div class="col-8">
        <input type="datetime-local" class="form-control"
              formControlName="dateStart">
      </div>
    </div>
    <div class="form-group">
      <label class="col-4">End Date</label>
      <div class="col-8">
        <input type="datetime-local" class="form-control"
              formControlName="dateEnd">
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Organizer Name" formControlName="organizer">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email Address" formControlName="email">
    </div>
    <div class="form-group">
      <input type="tel" class="form-control" placeholder="Contact Number" formControlName="contact">
    </div>


     <!-- TEST -->
    <!-- <div class="form-group">
     <input type="number" class="form-control" placeholder="Id" formControlName="id"> -->
      <!-- <input type="number" class="form-control" placeholder="User Id" formControlName="userId">
      <input type="text" class="form-control" placeholder="Title" formControlName="title">
      <input type="text" class="form-control" placeholder="Body" formControlName="body"> -->
    <!-- </div> -->

    <input type="submit" value="Post" class="btn btn-primary">
    
  </form>
  </div>

  <div class="sidecolumn col-sm-12 col-md-6">

    <ul *ngFor="let item of eventList; let i = index">
      <div class="card-body">
        <li>{{item.id}}</li>
        <li>{{item.title}}</li>
        <li>{{item.dateStart}}</li>
        <li>{{item.dateEnd}}</li>
        <li>{{item.organizer}}</li>
        <li>{{item.email}}</li>
        <li>{{item.contact}}</li>

        <!-- TEST -->
        <!-- <li>{{item.userId}}</li>
        <li>{{item.id}}</li>
        <li>{{item.title}}</li>
        <li>{{item.body}}</li> -->
      </div>
    </ul>
  </div>
</div>
